name: "mkdocs: check"

on:
  - push
  - pull_request

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: "pipenv"
          cache-dependency-path: |
            backend/Pipfile.lock

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pipenv wheel
          pipenv install

      - run: cd bih-cluster && pipenv run mkdocs build
